@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-0: #000000;
  --primary-50: #050505;
  --primary-100: #0a0a0b;
  --primary-150: #0f0f10;
  --primary-200: #121212;
  --primary-250: #141415;
  --primary-300: #19191a;
  --primary-350: #202021;
  --primary-400: #28282a;
  --primary-450: #2d2d2f;
  --primary-500: #373739;
  --primary-550: #3e3e41;
  --primary-600: #666666;
  --primary-650: #757575;
  --primary-700: #999999;
  --primary-750: #cccccc;
  --primary-800: #d9d9d9;
  --primary-850: #e6e6e6;
  --primary-900: #f2f2f2;
  --primary-950: #fcfcfc;
  --primary-1000: #ffffff;
}

* {
  scroll-behavior: smooth;
  font-weight: 500;
}

body {
  color: var(--primary-650);
  background: var(--primary-50);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
 
}

::-webkit-scrollbar-track {
  @apply bg-transparent
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary-300 border-[1px] border-transparent border-solid bg-clip-padding;
}
